*{
    font-family: cursive;
}
body{
    margin: 0px
}
article{
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 400px 50px 400px;
}
section{ 
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: left;
    margin-left: 25px;
}
h2 { 
    margin-left: 60px;
}
p{
    margin-left: 25px;
}
.like{
    width: 80px;
    height: 30px;
    margin-top: 25px;
    margin-right: 25px;
    background-color:coral;
    box-shadow: 2px 2px 2px black;  

}